In [2]:
import pandas as pd

In [24]:
# Load Files
folder = 'data'
serieTemporalAccidentes = f'{folder}/mat5.xlsx'
serieClimaAnual = f'{folder}/Clima_Anual.xlsx'

dfSerieTemporalAccidentes = pd.read_excel(serieTemporalAccidentes, index_col=0)
dfSerieClimaAnual = pd.read_excel(serieClimaAnual, index_col=0)
dfSerieClimaAnual = dfSerieClimaAnual.rename(columns={"Fecha": "Año"})


dfSerieTemporalAccidentesAnual = dfSerieTemporalAccidentes.groupby('Año').sum()
dfAnual = dfSerieTemporalAccidentesAnual.iloc[:,[1]]

dfAnual = dfAnual.join(dfSerieClimaAnual, on='Año')

dfSerieClimaAnual

       Num_dias_lluvia  Num_dias_nieve  Num_dias_granizo  Num_dias_niebla
Fecha
2022           100.500           1.731             1.615           18.346
2021           107.000           3.958             2.125           22.583
2020           109.182           2.909             1.682           23.455
2019            95.083           2.125             2.417           17.875
2018           119.040           8.640             3.840           23.600
2017            84.522           3.783             2.000           18.217
2016           106.708           3.000             1.583           24.120
2015            92.292           4.667             2.167           24.640
2014           112.917           3.750             2.542           19.708
2013           110.333           6.875             3.583           19.292